<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>E91D63</string>
		<string>C71A55</string>
	</array>
	<array>
		<string>FF4D92</string>
		<string>E02D72</string>
	</array>
	<array>
		<string>E9510F</string>
		<string>B8441D</string>
	</array>
	<array>
		<string>9D25D8</string>
		<string>7F16C7</string>
	</array>
	<array>
		<string>028CFF</string>
		<string>016DC7</string>
	</array>
	<array>
		<string>00D8DA</string>
		<string>01BAB8</string>
	</array>
	<array>
		<string>FED503</string>
		<string>FEB305</string>
	</array>
	<array>
		<string>7AD800</string>
		<string>67B500</string>
	</array>
	<array>
		<string>CF59D8</string>
		<string>B14BBC</string>
	</array>
	<array>
		<string>FC8606</string>
		<string>E37907</string>
	</array>
	<array>
		<string>0FBC1F</string>
		<string>0CA61D</string>
	</array>
	<array>
		<string>045EFF</string>
		<string>0158D3</string>
	</array>
	<array>
		<string>CB2582</string>
		<string>A61E6A</string>
	</array>
	<array>
		<string>DCE520</string>
		<string>D8D826</string>
	</array>
	<array>
		<string>7327D6</string>
		<string>5F25BA</string>
	</array>
</array>
</plist>
