<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Game</key>
	<dict>
		<key>StartLevelHint</key>
		<string>タップして発射</string>
		<key>TimeoutFormat</key>
		<string>{:.0f}秒</string>
		<key>RingsControlHint</key>
		<string>長押ししてホイールを操作</string>
	</dict>
	<key>ExitConfirmationDialog</key>
	<dict>
		<key>Title</key>
		<string>終了しますか？</string>
		<key>Message</key>
		<string>本当に終了しますか？</string>
		<key>ButtonExitGame</key>
		<string>はい</string>
		<key>ButtonResumeGame</key>
		<string>いいえ</string>
	</dict>
	<key>PauseDialog</key>
	<dict>
		<key>Title</key>
		<string>一時停止</string>
		<key>MenuButton</key>
		<string>メニュー</string>
		<key>ResumeButton</key>
		<string>再開</string>
	</dict>
	<key>AppTurbo</key>
	<dict>
		<key>Message</key>
		<string>AppTurboに感謝！</string>
		<key>Title</key>
		<string>広告が無効になりました</string>
		<key>Button</key>
		<string>OK</string>
	</dict>
	<key>Menu</key>
	<dict>
		<key>YourScore</key>
		<string>あなたの
スコア</string>
		<key>BestScore</key>
		<string>最高スコア: {}</string>
		<key>Endless</key>
		<string>エンドレス</string>
		<key>Levels</key>
		<string>レベル</string>
		<key>Skip</key>
		<string>スキップする</string>
		<key>LevelNumber</key>
		<string>レベル{}</string>
		<key>Retry</key>
		<string>リトライ</string>
		<key>Share</key>
		<string>シェアする</string>
		<key>Next</key>
		<string>次へ</string>
		<key>LevelFailed</key>
		<string>レベル
失敗</string>
		<key>LevelSuccess</key>
		<string>レベル
成功</string>
		<key>Rate</key>
		<string>評価する</string>
		<key>GameCompleted</key>
		<string>ゲーム完了</string>
	</dict>
	<key>SettingsDialog</key>
	<dict>
		<key>Title</key>
		<string>設定</string>
		<key>ColorblindOption</key>
		<string>カラーブラインドモード</string>
		<key>MusicOption</key>
		<string>音楽</string>
		<key>OkayButton</key>
		<string>OK</string>
		<key>SoundsOption</key>
		<string>サウンド</string>
		<key>NightModeOption</key>
		<string>ナイトモード</string>
	</dict>
	<key>Share</key>
	<dict>
		<key>DirectMessageScore</key>
		<string>やった！ #Dulp のエンドレスモードで{}ポイント獲得しました！この記録を超えられますか？！ @NexxStudio</string>
		<key>SimpleShareMessage</key>
		<string>やった！ #Dulp でレベル{}に到達！君もここまでできる？ @NexxStudio</string>
		<key>DirectTitle</key>
		<string>Dulp</string>
		<key>DirectMessage</key>
		<string>やった！ #Dulp でレベル{}に到達！君もここまでできる？ @NexxStudio</string>
	</dict>
	<key>Hints</key>
	<dict>
		<key>FollowingColors</key>
		<string>次の色付きのボールをどうするか考えておきましょう！</string>
		<key>SectionsCanFade</key>
		<string>一部が見えなくなってしまうことも！</string>
		<key>FlySpeedChange</key>
		<string>ボールの速度は変化するよ！</string>
		<key>TimeCanExpire</key>
		<string>カウントダウン・タイマー！</string>
		<key>BeAttentive</key>
		<string>よく見て！</string>
		<key>Dulp</key>
		<string>Dulp!</string>
		<key>SnipeThemOut</key>
		<string>よく狙おう！</string>
		<key>DirectionChange</key>
		<string>Direction can change!</string>
		<key>RadiusChange</key>
		<string>リングの大きさは変化する！</string>
		<key>DoubleOrbit</key>
		<string>ダブルリング！</string>
		<key>TripleOrbit</key>
		<string>トリプルリング！</string>
		<key>FourthOrbit</key>
		<string>4つのリング！</string>
		<key>SpeedChange</key>
		<string>回転速度は変化する！</string>
		<key>SpeedChangeByTap</key>
		<string>回転速度はタップごとに違うことも！</string>
		<key>DifferentBulletsSpeed</key>
		<string>ボールの速度はタップごとに変わることも！</string>
		<key>HoldIncLiftDec</key>
		<string>長押ししてホイールを操作</string>
		<key>WaitForTheRightMoment</key>
		<string>完璧な瞬間を狙おう！</string>
	</dict>
	<key>LocalNotification</key>
	<dict>
		<key>Message</key>
		<string>レベルをクリアできない？ スワイプしてスキップしよう！</string>
		<key>Action</key>
		<string>プレイ</string>
		<key>OpenMessage</key>
		<string>レベル{}をスキップした！</string>
	</dict>
	<key>CrossPromoDialog</key>
	<dict>
		<key>Title</key>
		<string>New game by PlanemoStd</string>
		<key>ButtonTitle</key>
		<string>Play Now</string>
	</dict>
	<key>RateDialog</key>
	<dict>
		<key>ButtonTitle</key>
		<string>Dulpを評価</string>
		<key>Title</key>
		<string>ゲームを評価</string>
		<key>Message</key>
		<string>Dulpを楽しんで頂けているなら、App Storeでレビューをお願いします。皆様のご支援によって無料のアップデートが可能になります！</string>
		<key>RemindLater</key>
		<string>後で</string>
		<key>Decline</key>
		<string>やめておく</string>
	</dict>
	<key>Levels</key>
	<dict>
		<key>Title</key>
		<string>レベル</string>
		<key>OutOf</key>
		<string>{} / {}</string>
	</dict>
	<key>RemoveAdsDialog</key>
	<dict>
		<key>Title</key>
		<string>広告とポップアップを排除しますか？</string>
		<key>Message</key>
		<string>ゲームからすべての広告を排除することで、パフォーマンスを向上させて、さらに楽しんでください！</string>
		<key>Buy</key>
		<string>{}で広告を排除</string>
		<key>Restore</key>
		<string>復元</string>
		<key>Cancel</key>
		<string>キャンセル</string>
	</dict>
	<key>IA</key>
	<dict>
		<key>Loading</key>
		<string>ローディング...</string>
		<key>Error</key>
		<string>取引の処理ができません。後ほどまたお試しください。</string>
		<key>PurchaseSucceed</key>
		<string>{}の購入が完了しました</string>
		<key>RestoreSucceed</key>
		<string>復元に成功しました</string>
		<key>NothingToRestore</key>
		<string>復元する対象がありません</string>
		<key>Restoring</key>
		<string>復元中...</string>
	</dict>
	<key>SkipLevelDialog</key>
	<dict>
		<key>Cancel</key>
		<string>キャンセル</string>
		<key>Title</key>
		<string>レベルをスキップする？</string>
		<key>MessageOptions</key>
		<string>以下のオプションの1つを選べばレベルをスキップできます。</string>
		<key>MessageFreeSkips</key>
		<string>このレベルをスキップしますか？</string>
		<key>Skip</key>
		<string>スキップする</string>
		<key>BuySkips</key>
		<string>{}回のスキップが{}</string>
		<key>MessageSkipAds</key>
		<string>レベルが難しすぎる？
広告を見てスキップしよう！</string>
		<key>WatchAds</key>
		<string>広告を見る</string>
		<key>TryOurGame</key>
		<string>Try our game</string>
	</dict>
	<key>SecondChanceDialog</key>
	<dict>
		<key>Title</key>
		<string>ミスしたところからトライする？</string>
		<key>AcceptButton</key>
		<string>はい</string>
		<key>DeclineButton</key>
		<string>いいえ</string>
	</dict>
	<key>Error</key>
	<string>不明のエラーです。しばらく経ってから、もう一度お試しください。</string>
</dict>
</plist>
