<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Game</key>
	<dict>
		<key>StartLevelHint</key>
		<string>点击屏幕释放弹射球</string>
		<key>TimeoutFormat</key>
		<string>{:.0f}秒</string>
		<key>RingsControlHint</key>
		<string>轻按/按住以控制圆环</string>
	</dict>
	<key>ExitConfirmationDialog</key>
	<dict>
		<key>Title</key>
		<string>退出？</string>
		<key>Message</key>
		<string>您确定要退出吗？</string>
		<key>ButtonExitGame</key>
		<string>是</string>
		<key>ButtonResumeGame</key>
		<string>否</string>
	</dict>
	<key>PauseDialog</key>
	<dict>
		<key>Title</key>
		<string>暂停</string>
		<key>MenuButton</key>
		<string>菜单</string>
		<key>ResumeButton</key>
		<string>继续</string>
	</dict>
	<key>AppTurbo</key>
	<dict>
		<key>Message</key>
		<string>感谢AppTurbo！</string>
		<key>Title</key>
		<string>广告已禁用</string>
		<key>Button</key>
		<string>确定</string>
	</dict>
	<key>Menu</key>
	<dict>
		<key>YourScore</key>
		<string>您的
分数：</string>
		<key>BestScore</key>
		<string>最高分：{}</string>
		<key>Endless</key>
		<string>无尽</string>
		<key>Levels</key>
		<string>关卡</string>
		<key>Skip</key>
		<string>跳过</string>
		<key>LevelNumber</key>
		<string>第{}关</string>
		<key>Retry</key>
		<string>再玩一次</string>
		<key>Share</key>
		<string>分享</string>
		<key>Next</key>
		<string>下一关</string>
		<key>LevelFailed</key>
		<string>闯关
失败</string>
		<key>LevelSuccess</key>
		<string>闯关
成功</string>
		<key>Rate</key>
		<string>评分</string>
		<key>GameCompleted</key>
		<string>游戏完成</string>
	</dict>
	<key>SettingsDialog</key>
	<dict>
		<key>Title</key>
		<string>设置</string>
		<key>ColorblindOption</key>
		<string>色盲模式</string>
		<key>MusicOption</key>
		<string>音乐</string>
		<key>OkayButton</key>
		<string>确定</string>
		<key>SoundsOption</key>
		<string>声音</string>
		<key>NightModeOption</key>
		<string>夜间模式</string>
	</dict>
	<key>Share</key>
	<dict>
		<key>DirectMessageScore</key>
		<string>天呐！我在#Dulp无尽模式中获得了{}分！你绝不可能超过我！ @NexxStudio</string>
		<key>SimpleShareMessage</key>
		<string>我的天！我打到了#Dulp的第{}关！你能做到吗？ @NexxStudio</string>
		<key>DirectTitle</key>
		<string>Dulp</string>
		<key>DirectMessage</key>
		<string>我的天！我打到了#Dulp的第{}关！你能做到吗？ @NexxStudio</string>
	</dict>
	<key>Hints</key>
	<dict>
		<key>FollowingColors</key>
		<string>为接下来的几个彩球提前做计划！</string>
		<key>SectionsCanFade</key>
		<string>圆环的各段会消失！</string>
		<key>FlySpeedChange</key>
		<string>推射球的速度会改变！</string>
		<key>TimeCanExpire</key>
		<string>倒计时开始！</string>
		<key>BeAttentive</key>
		<string>集中精力！</string>
		<key>Dulp</key>
		<string>Dulp!</string>
		<key>SnipeThemOut</key>
		<string>打掉它们！</string>
		<key>DirectionChange</key>
		<string>Direction can change!</string>
		<key>RadiusChange</key>
		<string>环的大小会改变！</string>
		<key>DoubleOrbit</key>
		<string>双重环！</string>
		<key>TripleOrbit</key>
		<string>三重环！</string>
		<key>FourthOrbit</key>
		<string>四重环！</string>
		<key>SpeedChange</key>
		<string>速度会改变！</string>
		<key>SpeedChangeByTap</key>
		<string>点击屏幕后速度会改变！</string>
		<key>DifferentBulletsSpeed</key>
		<string>点击屏幕后推射球速度会改变！</string>
		<key>HoldIncLiftDec</key>
		<string>轻按/按住以控制圆环</string>
		<key>WaitForTheRightMoment</key>
		<string>等待合适的时机！</string>
	</dict>
	<key>LocalNotification</key>
	<dict>
		<key>Message</key>
		<string>卡在这关了？滑动来跳过！</string>
		<key>Action</key>
		<string>开始游戏</string>
		<key>OpenMessage</key>
		<string>关卡{}已跳过！</string>
	</dict>
	<key>CrossPromoDialog</key>
	<dict>
		<key>Title</key>
		<string>New game by PlanemoStd</string>
		<key>ButtonTitle</key>
		<string>Play Now</string>
	</dict>
	<key>RateDialog</key>
	<dict>
		<key>ButtonTitle</key>
		<string>给Dulp评分</string>
		<key>Title</key>
		<string>给我们评分</string>
		<key>Message</key>
		<string>如果您喜欢玩Dulp，请到App Store给我们写好评。您的支持会赋予我们不断推出免费更新的动力！</string>
		<key>RemindLater</key>
		<string>稍后提醒我</string>
		<key>Decline</key>
		<string>不，谢谢</string>
	</dict>
	<key>Levels</key>
	<dict>
		<key>Title</key>
		<string>关卡</string>
		<key>OutOf</key>
		<string>现在第{}关，共{}关</string>
	</dict>
	<key>RemoveAdsDialog</key>
	<dict>
		<key>Title</key>
		<string>去除广告和弹窗？</string>
		<key>Message</key>
		<string>去除游戏中所有的广告和弹窗，提高游戏成绩，享受更多乐趣！</string>
		<key>Buy</key>
		<string>仅需{}即可去除广告</string>
		<key>Restore</key>
		<string>恢复</string>
		<key>Cancel</key>
		<string>取消</string>
	</dict>
	<key>IA</key>
	<dict>
		<key>Loading</key>
		<string>正在加载…</string>
		<key>Error</key>
		<string>无法处理交易，请稍后重试。</string>
		<key>PurchaseSucceed</key>
		<string>{}购买成功。</string>
		<key>RestoreSucceed</key>
		<string>恢复成功。</string>
		<key>NothingToRestore</key>
		<string>没有可恢复的内容</string>
		<key>Restoring</key>
		<string>正在恢复…</string>
	</dict>
	<key>SkipLevelDialog</key>
	<dict>
		<key>Cancel</key>
		<string>取消</string>
		<key>Title</key>
		<string>跳过关卡？</string>
		<key>MessageOptions</key>
		<string>选择下列选项来跳过关卡。</string>
		<key>MessageFreeSkips</key>
		<string>您要跳过本关吗？</string>
		<key>Skip</key>
		<string>跳过</string>
		<key>BuySkips</key>
		<string>跳过{}次，仅需{}</string>
		<key>MessageSkipAds</key>
		<string>关卡太难？
观看广告即可跳过！</string>
		<key>WatchAds</key>
		<string>观看广告</string>
		<key>TryOurGame</key>
		<string>Try our game</string>
	</dict>
	<key>SecondChanceDialog</key>
	<dict>
		<key>Title</key>
		<string>再试一次？</string>
		<key>AcceptButton</key>
		<string>是</string>
		<key>DeclineButton</key>
		<string>否</string>
	</dict>
	<key>Error</key>
	<string>发生未知错误。请稍后重试。</string>
</dict>
</plist>
